<html>
    <head>
        <title>Meu primeiro site :D</title>
       </head>
<style>

    body{
        
        color: deeppink;
        font-family: fantasy;
        padding: 150px;
        margin: auto;
        
        
    }

   
</style>
    <body>
        <div align="center">Aprovado ou Reprovado</div>
        <p align="center" > Insira suas notas! </p>
          
        
        <div align="center">
            <form method="get">
                Primeira Nota:
                <input type="text" name="primeira">
                <br>
                Segunda Nota:
                <input type="text" name="segunda">
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>

        {% if resultado %}
        <div align="center">
            {{resultado}} com média {{media}}!!!
        </div>
        {% endif %}

    </body>
</html>
